@import url(https://fonts.google.com/specimen/Spartan);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: [Spartan];
  background-color: hsl(180, 38%, 88%);
}

.header {
  background-color: hsl(180, 29%, 50%);
}

.joblist {
  width: min(1200px, 100% - 2rem);
  margin: 5rem auto;
}

.header img {
  display: block;
  width: 100%;
}

.job {
  /* height: 200px; */
  padding: 2rem;
  background-color: hsl(180, 33%, 95%);
  display: flex;
  border-radius: 5px;
  margin: 2rem 0;
}

.main {
  margin-left: 2rem;
}

.job img {
}

.main h1 {
  font-size: 15px;
  color: rgb(67, 122, 122);
}

.main h2 {
  margin-top: 0.5rem;
  font-size: 20px;
  cursor: pointer;
}

.main h2:hover {
  color: hsl(180, 8%, 52%);
}

.tags {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tag {
  /* margin: 0.5rem; */
  padding: 0.5rem;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(180, 56%, 87%);
  /* color:   hsl(180, 29%, 50%); */
}

.tags p {
  margin: 0.5rem;
  background-color: hsl(180, 34%, 88%);
  color: hsl(180, 29%, 50%);
  height: 40px;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.tags p:hover {
  background-color: hsl(180, 29%, 50%);
  color: aliceblue;
}

.footer {
  margin-top: 0.4rem;
  display: flex;
  gap: 1.5rem;
  align-items: baseline;
  color: rgb(126, 123, 123);
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}

.footer .dot {
  position: relative;
}

.footer .dot::before {
  position: absolute;
  content: '.';
  top: -17px;
  left: -14px;
  font-size: 30px;
}

.footer .dot::after {
  position: absolute;
  content: '.';
  top: -17px;
  right: -14px;
  font-size: 30px;
}

.tagfilter {
  width: min(1200px, 100% - 2rem);
  margin-top: -1rem;
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* width: 500px; */
  border-radius: 5px;

  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
}

.filtered-tags {
  display: flex;

  gap: 2rem;
}

.filtered-tags p {
  background-color: hsl(180, 34%, 88%);
  color: hsl(180, 29%, 50%);
  padding: 0.5rem 0rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  font-weight: 700;
}

.tagfilter button {
  all: unset;
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  border-bottom: solid 1px;
  cursor: pointer;
}

.remove-tag {
  padding: 0.5rem 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: hsl(180, 29%, 50%);
  margin-left: 1rem;
}

.remove-tag:hover {
  cursor: pointer;
  background-color: hsl(180, 14%, 20%);
}

.top-text {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.top-text p:nth-child(2) {
  background-color: hsl(180, 29%, 50%);
  color: aliceblue;
  font-weight: 500;
  font-size: 14px;
  padding: 0.2rem 0.75rem;
  border-radius: 20px;
  text-align: center;
  margin-left: 0.5rem;
}
.top-text p:nth-child(3) {
  background-color: rgb(10, 44, 33);
  color: aliceblue;
  font-weight: 500;
  font-size: 14px;
  padding: 0.2rem 0.75rem;
  border-radius: 20px;
}

@media (max-width: 893px) {
  .job {
    display: revert;
    margin-bottom: 4rem;
  }

  .main {
    margin: revert;
  }

  .job img {
    margin-top: -4rem;
    display: block;
    height: 75px;
    margin-bottom: 0.5rem;
  }

  .footer {
    border-bottom: solid rgb(190, 184, 184) 1px;
  }
}
