@import url(https://fonts.google.com/specimen/Spartan);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: [Spartan];
  background-color: hsl(180, 38%, 88%);
}

.header {
  background-color: hsl(180, 29%, 50%);
}

.header img {
  display: block;
  width: 100%;
}

.job {
  /* height: 200px; */
  margin: 1rem 4rem;
  padding: 2rem;
  background-color: hsl(180, 33%, 95%);
  display: flex;
  border-radius: 5px;
}

.main {
  margin-left: 2rem;
}

.main h1 {
  font-size: 15px;
  color: rgb(67, 122, 122);
}

.main h2 {
  font-size: 20px;
  cursor: pointer;
}

.main h2:hover {
  color: hsl(180, 8%, 52%);
}

.tags {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  /* margin: 0.5rem; */
  padding: 0.5rem;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(180, 56%, 87%);
  /* color:   hsl(180, 29%, 50%); */
}

.tags p {
  margin: 0.5rem;
  background-color: hsl(180, 34%, 88%);
  color: hsl(180, 29%, 50%);
  height: 40px;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.tags p:hover {
  background-color: hsl(180, 29%, 50%);
  color: aliceblue;
}

.footer {
  display: flex;
  gap: 1.5rem;
  align-items: baseline;
  color: rgb(126, 123, 123);
}

.footer .dot {
  position: relative;
}

.footer .dot::before {
  position: absolute;
  content: '.';
  top: -17px;
  left: -14px;
  font-size: 30px;
}

.footer .dot::after {
  position: absolute;
  content: '.';
  top: -17px;
  right: -14px;
  font-size: 30px;
}
